body {
  background-color: white;
  color:black;
font-family: 'Roboto', sans-serif;
}

header {
  margin-top: 20px;
}
img {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 8px 8px 10px #aaa;
  border: 15px solid pink;
  padding: 10px;
  border-radius: 30px; 
  opacity: 0.8;




}

a {
  text-decoration: underline;
  color: green;
  margin-bottom: 30px;
}

#bannerflog img {
  height: 100px;
}
h1, p{
  color: DeepPink ;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}
h1{
  font-size: 50px;
  font-weight: bolder;
}

textarea, input{
  width: 100%;
  border-radius: 22px;
  border: 1px solid DeepPink;
  margin-bottom: 20px;
}

.posteo {
  color: DeepPink;
}
.posteo strong{
  display: block;
}
.posteo hr {
  border: 1px solid DeepPink;
}
/* PARA CORAZON */
.corazon {
  font-size: 40px;
  color: gray;
  text-align: center;
}
.rojo {
  color: red;
}
footer{
  padding: 10px;
}
footer p{
    font-size: 14px;
    padding-top: 25px;

}


/* Estilos comentarios */

.box-comment{
    background-color: pink;
    margin-left: 20%;
    margin-right: 13px;
    padding-top: 21px;
    border: 1px solid white;
    margin-top: 20px;
    width: 60%;
    padding-bottom: 28px;
    text-align: center;

}

.hide{
  display: none;
}